section {
  overflow-y: hidden;
  overflow-x: hidden;
}

body, html {
  letter-spacing: 0.3px;
  overflow-x: hidden;
  font-family: 'Roboto Mono', monospace;
}

.text-alt-font {
  font-family: 'Exo 2', sans-serif;
}

#site_wrapper {
  overflow-x: hidden;
}

path {
  fill: none;
  stroke: #FBFCFF;
  stroke-width: 3;
}

#background-div {
  z-index: -1;
}

body {
  background-color: #0B1350; /* main bg color */
}

#bg-0 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#bg-1 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#bg-2 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#bg-3 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#bg-4 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.color-1 {
  color: #0B1350; /* white background text, past Datathons buttons text */
}

.color-1:link:hover {
  color: #7D01FA;
}

.color-2 {
  color: #D714FA; /* FAQ headings, Sponsors title */
}

.color-3 {
  color: #FBFCFF; /* dark text box font color */
}

.color-3:hover {
  color: #FBFCFF;
}

.color-3:link:hover {
  color: #7D01FA;
}

.color-4 {
  color: #7D01FA; /* Light text box title */
}


.color-5 {
  color: #D714FA; /* dark text box title */
}

/* tbh idk what bg-color does but changing them didn't change anything i think */
.bg-color-1 {
  background-color: #0B1350;
}

.bg-color-2 {
  background-color: #2D18FA;
}

.bg-color-3 {
  background-color: #FBFCFF;
}

.bg-color-4 {
  background-color: #FF6B6B;
}

.bg-color-5 {
  background-color: #FFE66D;
}

.bg-color-white {
  background-color: white;
}

.btn-color-1 {
  background-color: #144047;
}

.btn-color-1:hover {
  background-color: #FBFCFF;
}

.btn-color-2 {
  background-color: #2D18FA;
}

.btn-color-2:hover {
  background-color: #0B1350;
}

.btn-color-3 {
  background-color: #FBFCFF;
}

.btn-color-3:hover {
  background-color: #c5ffc5;
}

.btn-color-4 {
  background-color: #FF6B6B;
}

.btn-color-4:hover {
  background-color: #ff4747;
}

.btn-color-5 {
  background-color: #FFE66D;
}

.btn-color-5:hover {
  background-color: #ffe049;
}

.border-color-1 {
  border: 1px solid #144047;
}

.border-color-2 {
  border: 1px solid #4ECDC4;
}

.border-color-3 {
  border: 1px solid #FBFCFF;
}

.border-color-4 {
  border: 1px solid #FF6B6B;
}

.border-color-5 {
  border: 1px solid #FFE66D;
}

.img-div-style {
  height: 80%;
  width: 80%;
}

.img-style {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bg-opaque-1 {
  background-color: #0B1350; /* dark text box background color */
}

.bg-very-opaque-1 {
  background-color: #0B1350; /* idk what this one does */
}

.bg-opaque-2 {
  background-color: rgba(78, 205, 196, 0.9); /* idk */
}

.bg-very-opaque-2 {
  background-color: rgba(78, 205, 196, 0.5); /* idk */
}

.bg-opaque-3 {
  background-color: #FBFCFF; /* light text box background color */
}

.bg-very-opaque-3 {
  background-color: rgba(247, 255, 247, 0.5); /* idk */
}

.bg-opaque-4 {
  background-color: rgba(255, 107, 107, 0.9); /* idk */
}

.bg-very-opaque-4 {
  background-color: rgba(255, 107, 107, 0.5); /* idk */
}

.bg-opaque-5 {
  background-color: rgba(255, 230, 109, 0.9); /* idk */
}

.bg-very-opaque-5 {
  background-color: rgba(255, 230, 109, 0.5); /* idk */
}

.mail-a:hover {
  color: #7D01FA; /* hover color over the mail button */
}

.pattern-1 {
  background-image: repeating-linear-gradient(45deg, rgba(20, 64, 71, 0), rgba(20, 64, 71, 0) 1.39em, #FFE66D 1em, #FFE66D 50%);
  background-size: 2em 2em;
}

.pattern-2 {
  background-image: radial-gradient(ellipse farthest-corner at 1em 1em, rgba(255, 107, 107, 0.15), rgba(255, 107, 107, 0.15) 50%, rgba(247, 255, 247, 0) 50%);
  background-size: 2em 2em;
}

.pattern-3 {
  background: linear-gradient(180deg, rgba(255, 107, 107, 0) 20%, rgba(255, 107, 107, 0.1) 20%, rgba(255, 107, 107, 0.1) 40%, rgba(255, 107, 107, 0.2) 40%, rgba(255, 107, 107, 0.2) 60%, rgba(255, 107, 107, 0.4) 60%, rgba(255, 107, 107, 0.4) 80%, rgba(255, 107, 107, 0.5) 80%);
  background-color: #F7FFF7;
  background-size: 100% 100%;
  min-height: 100%;
}

@media screen and (max-width: 768px) {
  #desktop_logo_2024 {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  #desktop_logo_2024 {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #mobile_logo {
    display: block;
  }
}
@media screen and (min-width: 769px) {
  #mobile_logo {
    display: none;
  }
}

#bg-half-transparent {
  background-color: #070b3ec9; /* background gradient */
  opacity: 0;
}

.bg-more-transparent {
  background-color: rgba(20, 64, 71, 0.95);
}

.cdown_numbers {
  font-family: "Roboto Mono", monospace;
}
@media screen and (max-width: 576px) {
  .cdown_numbers {
    font-size: 2rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .cdown_numbers {
    font-size: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .cdown_numbers {
    font-size: 8.6rem;
  }
}

@media screen and (max-width: 575px) {
  .cdown_titles {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .cdown_titles {
    font-size: 1rem;
  }
}
@media screen and (min-width: 769px) {
  .cdown_titles {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #divider_footer {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  #divider_footer {
    display: block;
  }
}

#about_scroll {
  transition-duration: 0.5s;
  background-color: transparent;
  border-radius: 30px;
}

#about_scroll:hover {
  background-color: rgba(247, 255, 247, 0.2);
  cursor: pointer;
}

.span_gold {
  background: #FFD700;
  padding: 0 10px;
  border-radius: 4px;
}

.span_silver {
  background: #C0C0C0;
  padding: 0 10px;
  border-radius: 4px;
}

.span_bronze {
  background: #cd7f32;
  padding: 0 10px;
  border-radius: 4px;
}

.span_white {
  background: #F7FFF7;
  padding: 0 10px;
  border-radius: 4px;
}

.sponsor_text {
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.sponsor_text_gold {
  border-bottom: 2px solid #FFD700;
}

.sponsor_text_silver {
  border-bottom: 2px solid #C0C0C0;
}

.sponsor_text_bronze {
  border-bottom: 2px solid #cd7f32;
}

.sponsor_text_white {
  border-bottom: 2px solid #F7FFF7;
}

.portrait-img {
  padding: 0;
  border-radius: 10px;
  width: 100%;
}

.team-role {
  border-bottom: 2px solid rgba(255, 107, 107, 0.3);
}

html {
  scroll-behavior: smooth;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
