section {
  overflow-y: hidden;
  overflow-x: hidden;
}

body,
html {
  letter-spacing: 0.3px;
  overflow-x: hidden;
  font-family: "Saira", sans-serif;
}

.text-alt-font {
  font-family: "Fugaz One", cursive;
}

#site_wrapper {
  overflow-x: hidden;
}

path {
  fill: none;
  stroke: #F7FFF7;
  stroke-width: 3;
}

#background-div {
  z-index: -1;
}

body {
  background-color: #144047;
}

#bg-0 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#bg-1 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#bg-2 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#bg-3 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#bg-4 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.color-1 {
  color: #144047;
}

.color-2 {
  color: #4ECDC4;
}

.color-3 {
  color: #F7FFF7;
}

.color-4 {
  color: #FF6B6B;
}

.color-5 {
  color: #FFE66D;
}

.bg-color-1 {
  background-color: #144047;
}

.bg-color-2 {
  background-color: #4ECDC4;
}

.bg-color-3 {
  background-color: #F7FFF7;
}

.bg-color-4 {
  background-color: #FF6B6B;
}

.bg-color-5 {
  background-color: #FFE66D;
}

.btn-color-1 {
  background-color: #144047;
}

.btn-color-1:hover {
  background-color: #123a40;
}

.btn-color-2 {
  background-color: #4ECDC4;
}

.btn-color-2:hover {
  background-color: #38c7bd;
}

.btn-color-3 {
  background-color: #F7FFF7;
}

.btn-color-3:hover {
  background-color: #c5ffc5;
}

.btn-color-4 {
  background-color: #FF6B6B;
}

.btn-color-4:hover {
  background-color: #ff4747;
}

.btn-color-5 {
  background-color: #FFE66D;
}

.btn-color-5:hover {
  background-color: #ffe049;
}

.border-color-1 {
  border: 1px solid #144047;
}

.border-color-2 {
  border: 1px solid #4ECDC4;
}

.border-color-3 {
  border: 1px solid #F7FFF7;
}

.border-color-4 {
  border: 1px solid #FF6B6B;
}

.border-color-5 {
  border: 1px solid #FFE66D;
}

.img-div-style {
  height: 80%;
  width: 80%;
}

.img-style {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bg-opaque-1 {
  background-color: rgba(20, 64, 71, 0.9);
}

.bg-opaque-2 {
  background-color: rgba(78, 205, 196, 0.9);
}

.bg-opaque-3 {
  background-color: rgba(247, 255, 247, 0.9);
}

.bg-opaque-4 {
  background-color: rgba(255, 107, 107, 0.9);
}

.bg-opaque-5 {
  background-color: rgba(255, 230, 109, 0.9);
}

.mail-a:hover {
  color: #FF6B6B;
}

.pattern-1 {
  background-image: repeating-linear-gradient(45deg, rgba(20, 64, 71, 0), rgba(20, 64, 71, 0) 1.39em, #FFE66D 1em, #FFE66D 50%);
  background-size: 2em 2em;
}

.pattern-2 {
  background-image: radial-gradient(ellipse farthest-corner at 1em 1em, rgba(255, 107, 107, 0.15), rgba(255, 107, 107, 0.15) 50%, rgba(247, 255, 247, 0) 50%);
  background-size: 2em 2em;
}

.pattern-3 {
  background: linear-gradient(180deg, rgba(255, 107, 107, 0) 20%, rgba(255, 107, 107, 0.1) 20%, rgba(255, 107, 107, 0.1) 40%, rgba(255, 107, 107, 0.2) 40%, rgba(255, 107, 107, 0.2) 60%, rgba(255, 107, 107, 0.4) 60%, rgba(255, 107, 107, 0.4) 80%, rgba(255, 107, 107, 0.5) 80%);
  background-color: #F7FFF7;
  background-size: 100% 100%;
  min-height: 100%;
}

@media screen and (max-width: 768px) {
  #desktop_logo {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  #desktop_logo {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #mobile_logo {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  #mobile_logo {
    display: none;
  }
}

#bg-half-transparent {
  background-color: rgba(20, 64, 71, 0.8);
  opacity: 0;
}

.bg-more-transparent {
  background-color: rgba(20, 64, 71, 0.95);
}

.cdown_numbers {
  font-family: "Roboto Mono", monospace;
}

@media screen and (max-width: 576px) {
  .cdown_numbers {
    font-size: 2rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .cdown_numbers {
    font-size: 4rem;
  }
}

@media screen and (min-width: 769px) {
  .cdown_numbers {
    font-size: 8.6rem;
  }
}

@media screen and (max-width: 575px) {
  .cdown_titles {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .cdown_titles {
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .cdown_titles {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #divider_footer {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  #divider_footer {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */