.schedule-page {
    padding: 7% 0 5% 0;
}

.schedule-items {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    color: #ffffff;
    font-weight: normal;
}

.schedule-items a {
    color: #2B354C;
    transition: 0.2s ease-in-out;
}

.schedule-items a:hover, .schedule-items a:visited {
    /*color: #748DA5;*/
    color: #49669C;
}

.schedule-events {
    border: 2px solid #2B354C;
    padding: 10px;

}