.about-page {
    padding: 7% 0 5% 0;
}

.about-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.about-content-card {
    margin: 2%;
}

.about-image-card {
    margin: 2%;
    padding: 20px;
}

.about-content-text {
    padding: 10px 20px;
    text-align: left;
    color: #2B354C;
    font-size: 1.2em;
}
.faqs-page {
    padding: 7% 0 5% 0;
}

.questions { 
    margin-top: 3%;
    margin-bottom: 6%;
}

.faq-card {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: inherit;
    color: #2B354C;
    border: none;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(43, 53, 76, 0.733);
    margin: 2% 0;
}

.faq-question, .faq-answer {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.faq-answer {
    background-color: #2B354C;
    top: 100%;
    color: #A7BBCE;
}

.faq-question p {
    padding: 30px;
}

.faq-answer p {
    padding: 10px;
}

.faq-card:hover .faq-answer, .faq-card:focus .faq-answer {
    top: 0;
}

.faq-card:hover .faq-question, .faq-card:focus .faq-question {
    top: -100%;
}

.faq-card:focus {
    outline: none;
}

@media screen and (min-width: 601px) {
    .faq-card {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .faq-card {
        height: 110px;
    }
}
@media screen and (min-width: 651px) {
    .splashpage {
        margin-top: 8%;
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 650px) {
    .splashpage {
        margin-top: 20%;
        margin-bottom: 10%;
    }
}
.schedule-page {
    padding: 7% 0 5% 0;
}

.schedule-items {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    color: #2B354C;
    font-weight: normal;
}

.schedule-items a {
    color: #2B354C;
    transition: 0.2s ease-in-out;
}

.schedule-items a:hover, .schedule-items a:visited {
    color: #748DA5;
}

.schedule-events {
    border: 2px solid #2B354C;
    padding: 10px;
}
