@media screen and (min-width: 651px) {
    .navbar-visible, .navbar-hidden {
        position: fixed;
        top: 3%;
        left: 2%;
        z-index: 900;
        background-color: #2B354C;
        width: 96%;
        text-align: left;
        box-shadow: 0 0 8px 2px rgba(43, 53, 76, 0.733);
    }
    .navbar-item {
        display: inline-block;
        margin: 15px 20px;
    }
    .navbar-item p {
        font-size: 1.5em;
        margin: 0;
        color: #A7BBCE;
        transition: 0.3s ease-in-out;
    }
    .navbar-item p:hover {
        color: #ffffff;
        cursor: pointer;
    }
    .navbar-toggle-open, .navbar-toggle-closed {
        display: none;
    }
    .datathon-logo {
        position: fixed;
        right: 2%;
        top: 3%;
        padding: 10px 20px;
        z-index: 9999;
    }
}

@media screen and (max-width: 650px) {
    .navbar-visible, .navbar-hidden {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 998;
        background-color: #2B354C;
        transition: 0.5s ease-in-out;
    }
    .navbar-visible {
        left: 0;
    }
    .navbar-hidden {
        left: 100%;
    }
    .navbar-item {
        margin: 40px 0;
    }
    .navbar-item:nth-of-type(1) {
        margin-top: 100px;
    }
    .navbar-item p {
        font-size: 2em;
        margin: 0;
        color: #A7BBCE;
        transition: 0.3s ease-in-out;
    }
    .navbar-item p:hover {
        color: #ffffff;
    }
    .navbar-toggle-open, .navbar-toggle-closed {
        position: fixed;
        font-weight: normal;
        font-size: 3.5em;
        right: 0;
        margin: -10px 10px;
        transition: 0.3s ease-in-out;
    }
    .navbar-toggle-open {
        transform: rotate(45deg);
        color: #A7BBCE;
    }
    .navbar-toggle-closed {
        color: #2B354C;
    }
    .datathon-logo {
        top: 0;
        position: fixed;
        padding: 5px 10px;
        z-index: 999;
    }
}