.faqs-page {
    padding: 7% 0 5% 0;
}

.questions { 
    margin-top: 3%;
    margin-bottom: 6%;
}

.faq-card {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: inherit;
    color: #A7BBCE;
    overflow: hidden;
    border: 1px solid #A7BBCE;
    margin: 2% 0;
}

.faq-question, .faq-answer {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.faq-answer {
    background-color: #A7BBCE;
    top: 100%;
    color: #2B354C;
}

.faq-question p {
    padding: 30px;
}

.faq-answer p {
    padding: 10px;
}

.faq-card:hover .faq-answer, .faq-card:focus .faq-answer {
    top: 0;
}

.faq-card:hover .faq-question, .faq-card:focus .faq-question {
    top: -100%;
}

.faq-card:focus {
    outline: none;
}

@media screen and (min-width: 601px) {
    .faq-card {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .faq-card {
        height: 110px;
    }
}