.title {
    padding: 2% 0;
}

@media screen and (max-width: 600px) {
    .title {
        padding: 10% 0;
    }
}

.title-style {
    color: #EEF4ED;
    border: 2px solid #EEF4ED;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 3em;
}

@media screen and (max-width: 500px) {
    .title {
        margin-top: 15%;
    }
    .title-theme {
        font-size: 1.5em;
    }
    .title-alternate {
        font-size: 1.5em;
    }
}