.title {
    padding: 2% 0;
}

@media screen and (max-width: 600px) {
    .title {
        padding: 10% 0;
    }
}

.title-style {
    color: #A7BBCE;
    background-color: #2B354C;
    box-shadow: 0 0 10px 2px rgba(43, 53, 76, 0.733);
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

@media screen and (max-width: 500px){
    .title {
        margin-top: 15%;
    }
    .title-theme {
        font-size: 1.5em;
    }

    .title-alternate {
        font-size: 1.5em;
    }
}