html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    background-color: #171717;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    font-family: 'Montserrat', sans-serif;
}