@media screen and (min-width: 1001px) {
    .navbar-visible, .navbar-hidden {
        position: fixed;
        /* top: 3%; */
        /* left: 2%; */
        top: 0;
        z-index: 900;
        background-color: #1F4068;
        /* width: 96%; */
        width: 100%;
        height: 80px;
        text-align: left;
        box-shadow: 0 0 8px 2px rgba(43, 53, 76, 0.733);
    }
    .navbar-item {
        display: inline-block;
        padding-top: 15px;
        margin: 15px 20px;
    }
    .navbar-item p {
        font-size: 1.5em;
        margin: 0;
        color: #d6e5f3;
        transition: 0.3s ease-in-out;
    }
    .navbar-item p:hover {
        color: #ffffff;
        cursor: pointer;
    }
    .navbar-toggle-open, .navbar-toggle-closed {
        display: none;
    }
    .datathon-logo {
        position: fixed;
        right: 0%;
        top: 0%;
        padding: 5px 20px;
        z-index: 9999;
    }
}

@media screen and (max-width: 1000px) {
    .navbar-visible, .navbar-hidden {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 998;
        background-color: #2B354C;
        transition: 0.5s ease-in-out;
    }
    .navbar-visible {
        left: 0;
    }
    .navbar-hidden {
        left: 100%;
    }
    .navbar-item {
        margin: 40px 0;
    }
    .navbar-item:nth-of-type(1) {
        margin-top: 100px;
    }
    .navbar-item p {
        font-size: 2em;
        margin: 0;
        color: #A7BBCE;
        transition: 0.3s ease-in-out;
    }
    .navbar-item p:hover {
        color: #ffffff;
    }
    .navbar-toggle-open, .navbar-toggle-closed {
        position: fixed;
        font-weight: normal;
        font-size: 3.5em;
        right: 0;
        margin: -10px 10px;
        transition: 0.3s ease-in-out;
    }
    .navbar-toggle-open {
        transform: rotate(45deg);
        color: #A7BBCE;
    }
    .navbar-toggle-closed {
        color: #2B354C;
    }
    .datathon-logo {
        top: 0;
        position: fixed;
        padding: 5px 10px;
        z-index: 9;
    }
}
.title {
    padding: 2% 0;
}

@media screen and (max-width: 600px) {
    .title {
        padding: 10% 0;
    }
}

.title-style {
    color: #EEF4ED;
    border: 2px solid #EEF4ED;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 3em;
}

@media screen and (max-width: 500px) {
    .title {
        margin-top: 15%;
    }
    .title-theme {
        font-size: 1.5em;
    }
    .title-alternate {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 651px) {
    .splashpage {
        margin-top: 8%;
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 650px) {
    .splashpage {
        margin-top: 20%;
        margin-bottom: 10%;
    }
}

.quick-links a {
    background-color: #A7BBCE;
    border: 2px solid #2B354C;
    color: #2B354C;
    margin: 20px;
    padding: 5px 20px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.quick-links a:hover {
    background-color: #2B354C;
    color: #A7BBCE;
}
html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    background-color: #171717;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    font-family: 'Montserrat', sans-serif;
}
