@media screen and (min-width: 651px) {
    .navbar-visible, .navbar-hidden {
        position: fixed;
        top: 3%;
        left: 2%;
        z-index: 900;
        background-color: #2B354C;
        width: 96%;
        text-align: left;
        box-shadow: 0 0 8px 2px rgba(43, 53, 76, 0.733);
    }
    .navbar-item {
        display: inline-block;
        margin: 15px 20px;
    }
    .navbar-item p {
        font-size: 1.5em;
        margin: 0;
        color: #A7BBCE;
        transition: 0.3s ease-in-out;
    }
    .navbar-item p:hover {
        color: #ffffff;
        cursor: pointer;
    }
    .navbar-toggle-open, .navbar-toggle-closed {
        display: none;
    }
    .datathon-logo {
        position: fixed;
        right: 2%;
        top: 3%;
        padding: 10px 20px;
        z-index: 9999;
    }
}

@media screen and (max-width: 650px) {
    .navbar-visible, .navbar-hidden {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 998;
        background-color: #2B354C;
        transition: 0.5s ease-in-out;
    }
    .navbar-visible {
        left: 0;
    }
    .navbar-hidden {
        left: 100%;
    }
    .navbar-item {
        margin: 40px 0;
    }
    .navbar-item:nth-of-type(1) {
        margin-top: 100px;
    }
    .navbar-item p {
        font-size: 2em;
        margin: 0;
        color: #A7BBCE;
        transition: 0.3s ease-in-out;
    }
    .navbar-item p:hover {
        color: #ffffff;
    }
    .navbar-toggle-open, .navbar-toggle-closed {
        position: fixed;
        font-weight: normal;
        font-size: 3.5em;
        right: 0;
        margin: -10px 10px;
        transition: 0.3s ease-in-out;
    }
    .navbar-toggle-open {
        transform: rotate(45deg);
        color: #A7BBCE;
    }
    .navbar-toggle-closed {
        color: #2B354C;
    }
    .datathon-logo {
        top: 0;
        position: fixed;
        padding: 5px 10px;
        z-index: 999;
    }
}
.title {
    padding: 2% 0;
}

@media screen and (max-width: 600px) {
    .title {
        padding: 10% 0;
    }
}

.title-style {
    color: #A7BBCE;
    background-color: #2B354C;
    box-shadow: 0 0 10px 2px rgba(43, 53, 76, 0.733);
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

@media screen and (max-width: 500px){
    .title {
        margin-top: 15%;
    }
    .title-theme {
        font-size: 1.5em;
    }

    .title-alternate {
        font-size: 1.5em;
    }
}
.faqs-page {
    padding: 7% 0 5% 0;
}

.questions { 
    margin-top: 3%;
    margin-bottom: 6%;
}

.faq-card {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: inherit;
    color: #2B354C;
    border: none;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(43, 53, 76, 0.733);
    margin: 2% 0;
}

.faq-question, .faq-answer {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.faq-answer {
    background-color: #2B354C;
    top: 100%;
    color: #A7BBCE;
}

.faq-question p {
    padding: 30px;
}

.faq-answer p {
    padding: 10px;
}

.faq-card:hover .faq-answer, .faq-card:focus .faq-answer {
    top: 0;
}

.faq-card:hover .faq-question, .faq-card:focus .faq-question {
    top: -100%;
}

.faq-card:focus {
    outline: none;
}

@media screen and (min-width: 601px) {
    .faq-card {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .faq-card {
        height: 110px;
    }
}
@media screen and (min-width: 651px) {
    .splashpage {
        margin-top: 8%;
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 650px) {
    .splashpage {
        margin-top: 20%;
        margin-bottom: 10%;
    }
}
.schedule-page {
    padding: 7% 0 5% 0;
}

.schedule-items {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    color: #2B354C;
    font-weight: normal;
}

.schedule-items a {
  color: #2B354C;
  transition: 0.2s ease-in-out;
}

.schedule-items a:hover, .schedule-items a:visited {
    color: #748DA5;
}
html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    background-color: #A7BBCE;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    font-family: 'Montserrat', sans-serif;
}

/*# sourceMappingURL=styles.chunk.css.map*/