@media screen and (min-width: 651px) {
    .splashpage {
        margin-top: 8%;
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 650px) {
    .splashpage {
        margin-top: 20%;
        margin-bottom: 10%;
    }
}