@media screen and (min-width: 651px) {
    .splashpage {
        margin-top: 6%;
        margin-bottom: 4%;
        align-items: middle;
        color: #ffffff;
    }
}

@media screen and (max-width: 650px) {
    .splashpage {
        margin-top: 20%;
        margin-bottom: 10%;
        align-items: middle;
        color: #ffffff;
    }
}

.quick-links a {
    background-color: #A7BBCE;
    border: 2px solid #2B354C;
    color: #ffffff;
    margin: 20px;
    padding: 5px 20px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.quick-links a:hover {
    background-color: #2B354C;
    color: #A7BBCE;
}