.splashpage {
    height: 100vh;
    overflow: hidden;
}
.date {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #748DA5;
    text-align: center;
}

.intro-link {
    text-align: center;
    padding: 0px;
    color: #748DA5;
    transition: border-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.intro-link:hover {
    color: #ffffff;
}

.sign-up-link-text {
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    margin: 0px;
    font-weight: normal;
    font-size: 1.9em;
}

.sign-up-link-alt {
    margin-top: 0;
    font-size: 0.8em;
}

.sponsor-link-text {
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    margin: 0px;
    font-weight: normal;
    font-size: 1.9em;
}

@media screen and (min-width: 651px) {
    .date {
        margin-top: 1%;
    }
    .intro-logo {
        margin-top: 12%;
    }
}

@media screen and (max-width: 650px) {
    .intro-link {
        opacity: 0.7;
    }
    .intro-link-text {
        font-size: 1.2em;
    }
    .splashpage {
        margin-bottom: 10%;
    }
    .intro-logo {
        display: none;
    }
    .date {
        margin-top: 40%;
    }
}