.prizes {
    margin-top: 8%;
    padding-bottom: 5%;
    color: #ffffff;
}

.prize-list div {
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    color: #ffffff;
}