.tracks {
    margin-top: 8%;
}

.track-list {
    color: #ffffff;
    padding-bottom: 10%;
}

.track-list a {
    color: #1F4068;
    transition: 0.2s ease-in-out;
}

.track-list a:hover, .track-list a:visited {
    /*color: #748DA5;*/
    color: #ffffff;
}

.main-track {
    border: 2px solid #2B354C;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
}

.main-track h2 {
    text-align: center;
}