.tracks {
    margin-top: 8%;
}

.track-list {
    color: #ffffff;
    padding-bottom: 10%;
}

.main-track {
    border: 2px solid #2B354C;
    padding: 30px;
    text-align: left;
}

.main-track h2 {
    text-align: center;
}