.about-page {
    padding: 7% 0 5% 0;
}

.about-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.about-content-card {
    margin: 2%;
}

.about-image-card {
    margin: 2%;
    padding: 20px;
}

.about-content-text {
    padding: 10px 20px;
    text-align: left;
    color: #2B354C;
    font-size: 1.2em;
}